<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wei.rediscache.mapper.PersonMapper">

  <select id="getOne" resultType="org.wei.rediscache.domain.Person" >
    select * from person where id=#{id}
  </select>

  <select id="getBatch" resultType="org.wei.rediscache.domain.Person" >
     SELECT *
     from person
     where id in
    <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

</mapper>